# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
backend/env/
.venv/
env/
ENV/

# Node dependencies
frontend/node_modules/
frontend/dist/

# Local env files (holds keys/API strings)
.env
frontend/.env

# OS files
.DS_Store
Thumbs.db

# Linux System Files
.directory
.Trash-*

# Visual Studio Code local workspace cache
.vscode/
*.code-workspace

# Python specific caching overrides
.pytest_cache/
.mypy_cache/